

.background {
	background-color: #e3e3e3 ;

}

.navbar-default .navbar-nav > li > a {
    color: #F1F1DA;
}

.navbar-default {
	background-color: #0C596F;
	border-color: #0C596F;
	margin-bottom: 0px;
	font-size: 18px;
	border-radius: 0;


}

.mainHeading {
	background-color: #878787;
	/*height: 25rem;*/

}


.headerContent {
	/*margin-top: 5rem;*/
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 25%;
	width: 25%;
	text-align: center;


}

.logInForm {
	padding-right: 0px;

}

.signUpLink {

	color: white;
}



/*.navText {
	color: #3CA198;*/
}
.craftsss {
	border-top: 1px solid gray;
	padding-top: 25px;
	margin-left: -50px;
}

.buildACraft {
font-size: 18px;
font-weight: bold;
display: inline-block;
margin: 0 auto;

}

.buildACraft .small {
font-size: 12px;
font-weight: normal;
}

.indentParagraph {
	padding-left: 20px;
}

.thumbnail {
	display: inline-block;
	height: 150px;
	width: 150px;

}

.craftTitle {
	font-family: Georgia, Serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 50px;

}
.description {


}

.craftDisplay {
	display: inline-block;
	float:left;
	margin: 0 auto;
	padding: 0;
}


.submitSupplies {
	padding-left: 30px;
	padding-right: 30px;
}
/*.suppliesSearch {
	border-bottom: 1px solid gray;

}*/

/*.mainNavBar {
	background-color: #41948F ;
	border-radius: 5px;
	margin-top: 70px;
	height: 3rem;
	width: 95vw;
	text-align: center;
	margin: auto;
	position: fixed;

}

.mainNavBar a {
	text-decoration: none;
	color: white;
	font-family: cursive;
	font-size: 1.5rem;
}
*/
@media (min-width:768px) { 
	.navbar > .container {
	    text-align: center;
	    display: inline-block;
	}

	.collapse.navbar-collapse#centerednav {
	    float: none;
	    display: inline-block !important;
	    width: auto;
	    clear: none;
	}
}


