.background {
	background-color:  ;

}

.mainHeading {
	background-color: #777;
	height: 8rem;


}
.headerContent {
	text-align: center;
	



}
/*.mainNavBar {
	background-color: #41948F ;
	border-radius: 5px;
	margin-top: 70px;
	height: 3rem;
	width: 95vw;
	text-align: center;
	margin: auto;
	position: fixed;

}

.mainNavBar a {
	text-decoration: none;
	color: white;
	font-family: cursive;
	font-size: 1.5rem;
}
*/


.mainNavBar li {
	display: inline-block;
	
	display: inline;

}
